@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap');
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 body {
     font-family: 'Roboto', sans-serif;
     color: #ffffff;
     
}
 button {
     background-color: transparent;
     border: 0;
     color: #ffffff;
}
a {
    outline: none;
}
 #bg-img {
     position: fixed;
     min-width: 100%;
     min-height: 100%;
     z-index: -1;
}
#title{
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    padding-top: 5%;
}
#modal{
    font-size: 2.5rem;
    color: #ffffff;
    text-align: right;

}
#modal-image{
    width: 100%;
}
#meditationModal{
    color: black
}

 #affirmation {
     position: relative;
     text-align: center;
     top: 27vh;
     
}
 #affirmation-title {
     font-family: 'Pacifico', cursive;
     font-size: 2rem;
     position: relative;
     text-align: center;
     top: 27vh;
}

.modal-header{
background-color: #dcfff9;
}

.modal-body{
    background-color: #ccf3ee;
}

.modal-footer{
    background-color: #dfe0ff;
}

.close-btn{
    background-color: #f7f2fb;
}

 .fa, .fas {
     color: #ffffff;
}
 .navbar-brand img {
     width: 6rem;
}
 h3,.h3 {
     font-size: 2rem;
}
 .time-selector {
     align-items: center;
     justify-content: center;
}
 .btn-outline-info {
     color: #ffffff;
     border-color: #ffffff;
     margin: 1rem;
}
 .media-player {
     display: flex;
     flex-direction: row;
     font-size: 2rem;
     align-items: center;
     padding-top: 100%;
     justify-content: space-evenly;
}
 .timer-countdown {
     position: relative;
     font-size: 3rem;
     
}
/* Media Queries*/
 @media (min-width: 768px) {
     .media-player {
         padding-top: 56%;
    }
     #affirmation-title {
         left: 3rem;
    }
}
 @media (min-width: 1024px) {
     .media-player {
         padding-top: 23rem;
    }
     #affirmation-title {
         font-size: 2rem;
         left: 4rem;
    }
     #affirmation {
         font-size: 2rem;
         left: 4rem;
         text-align: left;
    }
     .btn-outline-info {
         margin: 2em;
    }
     #affirmation-title {
         text-align: end;
    }
}
