@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}

button {
	background-color: transparent;
	border: 0;
	color: #ffffff;
}

#bg-img {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

#affirmation {
	position: relative;
	top: 27vh;
}

#affirmation-title {
	font-family: 'Pacifico', cursive;
	font-size: 2rem;
	position: relative;
	top: 27vh;
}
.fa, .fas {
    color: white;
}

.navbar-brand img {
    width: 6rem;
}

.h3, h3 {
	font-size: 2rem;
}

.time-selector {
	align-items: center;
	justify-content: center;
}

.btn-outline-info {
	color: #ffffff;
	border-color: #ffffff;
	margin: 1rem;
}

.media-player {
	display: flex;
	flex-direction: row;
	font-size: 40px;
	align-items: center;
	padding-top: 6em;
	justify-content: space-evenly;
}

.timer-countdown {
	position: relative;
	font-size: 50px;
}



/* Media Queries*/

@media (min-width: 768px) {
 
	.media-player {
		padding-top: 9em;
	}

	#affirmation-title {
		left: 55px;
	}
}
/*
@media (min-width: 1024px) {
 
	.media-player {
		padding-top: 11em;
	}

	#affirmation-title {
		font-size: 40px;
	}

	#affirmation {
		font-size: 2.6em;
	}

	.btn-outline-info {
		margin: 2em;
	}
}

@media (min-width: 1200px) {
 
	#affirmation {
		font-size: 2.1em;
		right: 68px;
	}

	#affirmation-title {
		left: 167px;
		font-size: 32px;
	}

	.media-player {
		padding-top: 8em;
	}
}