button{
    background-color: transparent;
    border: 0;
}
.time-selector {
    position: absolute;
    top: 49%;
    left: 40%;   
  
}


.media-player {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 40px;
    justify-content: space-evenly;
    top: 169px;
    
}

.timer-countdown {
    position: absolute;
    font-size: 50px;
    top: 120%;

}

#bg-img { 
  /* The image used */
  background-image: url(/assets/bg-media/bg-1.png);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}