button{
    background-color: transparent;
    border: 0;
}
.time-selector {
    position: absolute;
    top: 60%;
    left: 40%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 20px;
     
  
}


.media-player {
    
    
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-size: 40px;
    align-items: center;
    justify-content: space-evenly;
    
}

.timer-countdown {
    position: absolute;
    font-size: 50px;
    top: 70%;
    align-items: center;
    justify-content: space-evenly;
}

#bg-img { 
  /* The image used */
  background-image: url(/assets/bg-media/bg-1.png);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}